<%# containers are usd to establish the width of a layout %>
<div class="container jumbotron">
<div class="row">
<h1>About me</h1>
<br>
<hr class="my-4" />
</div>
<div class="row">
<p style="text-align:justify">
The text below was extracted from my Bumble bio. 
It was only up for a day though, before a crippling fear kicked in. 
That I wouldn't get any matches despite putting my best self out there. 
<br>
<br>
So I figured, why not be vulnerable while playing by your own rules?  
<br>
<br>
"I'm a university student, trying to find his place in the world. I would like to climb a tall mountain in Nepal and complete the Ironman someday. 
I would also like to leave the world a better place than it was before I got here. I try to be kind and do right by people." 
<br>
<br>
If you're a prospective employer reading this, it's imperative to explain my love of technology to you. 
I find it has this unilateral ability to impact the lives of millions of people. I would like nothing more than to be a part of that movement. 
If you would like to find out more about me, hyperlinks are below at your convenience - 
</p>
</div>
<hr class="my-4" />
<div class="btn-group" role="group" aria-label="Basic example">
<button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://github.com/yashgadodia';">GitHub</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://www.linkedin.com/in/yashgadodia/';">LinkedIn</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://smumods.com/';">SMUMods</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ';">CV</button>
  <%# <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://youtube.com/deanin';">My CV</button> %>

</div>

</div>