<%# this is readme doc %>
<div class="container jumbotron">
<div class="row"> 
<h1>Hello, World! </h1> 
<hr class="my-4" />
</div>
<div class="row">
<p style="text-align:justify">
<br>
I'm going to save you some time - most of my writing is terrible. When forced to write daily, most of it will be self-indulgent. 
This blog is a playground for me to experiment and make mistakes. 
<br>
<br>
I figure the only way to get better at writing is to write a lot, even if it is bad. Putting it up online is added motivation in making sure the consistency isn't lost. 
<br>
<br>
Anyway. Every now and then I will write something that (I think) is half-decent. I hope you like it. 
<br>
<br>
<a href = "http://yashgadodia.com/posts/work-from-home-day-47">Work from home day 47 </a>
<br>
<a href = "http://yashgadodia.com/posts/4-180-42">4-180-42 </a>
<br>
<a href = "http://yashgadodia.com/posts/for-7-lifetimes">For 7 lifetimes </a>
<br>
<a href = "http://yashgadodia.com/posts/blah-blah">Blah Blah </a>   
<br>
<a href = "http://yashgadodia.com/posts/blm-some-thoughts">BLM-some thoughts </a> 
</p>

<hr class="my-4" />
</div>

</div>