<%# this is readme doc %>
<div class="container jumbotron">
<div class="row"> 
<h1>Hello, World! </h1> 
<hr class="my-4" />
</div>
<div class="row">
<p style="text-align:justify">
<br>
I'm going to save you some time - most of my writing is objectively terrible. When you force yourself to write everyday, most of it will, inevitably, be exceedingly self-indulgent. 
<br>
<br>
However, every now and then I will write something that (I think) is half-decent. I sincerely hope you find it thought-provoking. 
<br>
<br>
<a href = "http://yashgadodia.com/posts/work-from-home-day-47">Work from home day 47 </a>
<br>
<a href = "http://yashgadodia.com/posts/4-180-42">4-180-42 </a>
<br>
<a href = "http://yashgadodia.com/posts/for-7-lifetimes">For 7 lifetimes </a>
<br>
<a href = "http://yashgadodia.com/posts/blah-blah">Blah Blah </a>   
</p>

<hr class="my-4" />
</div>

</div>